@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins' sans-serif;
}

/* Global Tags */

h1{
    font-size: 2.5rem;
    font-family: 700;
    color: rgb(35, 35, 85);
}

span{
    font-size: .9rem;
    color: #757373;
}

h6{
    font-size: 1.1rem;
    color: rgb(24, 24, 49);
}

/* Navigation */
nav{
    /* To make the Nav-bar fixed at the top and maintain a 100% width*/
    position: fixed;
    width: 100%;
    background-color: #fff;

    display: flex;
    flex-direction: row; /* The flex direction should follow the row */
    justify-content: space-between;
    padding: 1vw 8vw;

    /* for horizontal alignment to the centre within a specified container */
    align-items: center;

    /* adding a shadow like appearance to the navigation with 1st for x-axis, 2nd for y-axis & 3rd for the boader radius */
    box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.15);
}

nav img{
    width: 150px;

    /* This makes the logo pointable when hovered by a cusor */
    cursor: pointer;
}

nav ul{
    display: flex;
    justify-content: flex-end; /* negligeable */
    align-items: center; /* negligeable */
}

nav ul li{
    list-style: none;
    margin-left: 30px;
}

nav ul li a{
    text-decoration: none;
    color: rgb(21, 21, 100);
    font-size: 16px;
    font-weight: 500;

    /* Ensures ease of transition of the hover effect */
    transition: 0.3s ease;
}

nav ul li a:hover{
    color: #FDC93B;
}

/* Home */

#home{
    /* This combines shadow like view, alongside the background image in the Home Page */
    background-image: linear-gradient(rgba(9, 5, 54, 0.3),rgba(5, 4, 46, 0.7)),url("images/back.jpg");
    width: 100%;
    height: 100vh;

    /* To centralize the background-image and make the Zoom a perfect fit */
    background-size: cover;
    background-position: center;

    /* To centralize the content on the background-image */
    display: flex;

    flex-direction: column; /* The flex direction should follow the column */

    justify-content: center;

    /* For items within the targeted parent */
    align-items: center;

    /* For text contents only */
    text-align: center;
    padding-top: 40px;
}

#home h2{
    color: #fff;
    font-size: 2.2rem;
    letter-spacing: 1px;
}

#home .btn{
    margin-top: 30px;
}

#home p{
    color:#fff;
    width: 50%;
    font-size: 0.9rem;
    line-height: 25px;
}

#home a{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: #fff;
    font-weight: 600;
    border-radius: 5px;
}

#home .btn .blue-btn{
    color: #fff;
    background: rgb(21, 21, 100);

    /* Ensures ease of transition of the hover effect */
    transition: 0.3s ease;
}

#home .btn .blue-btn:hover{
    color: rgb(21, 21, 100);
    background-color: #fff;
}

#home .btn .yellow-btn{
    color: #fff;
    background-color: #FDC93B;

    /* Ensures ease of transition of the hover effect */
    transition: 0.3s ease;
}

#home .btn .yellow-btn:hover{
    color: rgb(21, 21, 100);
    background-color: #fff;
}

